<div [formGroup]="_companyInfoForm">
  <div [ngClass]="{ 'has-error': _cName.touched && !_cName.valid}">
    <label for="inputCname" class="sr-only">Company Name</label>
    <input type="text" id="inputCname" class="form-control input-lg" placeholder="Company Name" formControlName="cName" (focus)="_cName.markAsUntouched()" autofocus>
    <div class="notice" *ngIf="_cName.touched && _cName.getError('required')">Enter your Company Name.</div>
  </div>
  <label for="inputCountry" class="sr-only">Country</label>
  <select class="form-control input-lg" id="inputCountry">
    <option *ngFor="let country of _countries" value="{{country.code}}">{{country.name}}</option>
  </select>
  <div [ngClass]="{ 'has-error': _sAddress.touched && !_sAddress.valid}">
    <label for="inputSAddress" class="sr-only">Street Address</label>
    <input type="text" id="inputSAddress" class="form-control input-lg" placeholder="Street Address (e.g. 108 Avenue)" formControlName="sAddress" (focus)="_sAddress.markAsUntouched()">
    <div class="notice" *ngIf="_sAddress.touched && _sAddress.getError('required')">Enter your Street Address.</div>
  </div>
  <label for="inputCity" class="sr-only">City</label>
  <input type="text" id="inputCity" class="form-control input-lg" placeholder="Town/City" required="">
  <div class="notice" style="display:none">Enter your City</div>
  <div class="row">
    <div class="col-md-6">
      <label class="sr-only">Province</label>
      <select class="form-control input-lg" id="inputProvince" >
        <option *ngFor="let province of _provinces" value="{{province.code}}">{{province.name}}</option>
      </select>
    </div>
    <div class="col-md-6" style="font-size: 10px">
      <label class="sr-only">Postal Code</label>
      <input type="text" id="inputPostal" class="form-control input-lg" placeholder="Postal Code" required="">
    </div>
  </div>
  <label for="inputPhone" class="sr-only">Company Phone</label>
  <input type="text" id="inputPhone" class="form-control input-lg" placeholder="Company Phone" required="">
  <div class="notice" style="display:none">Enter your Company Phone</div>
  <label for="inputCemail" class="sr-only">Company E-mail</label>
  <input type="text" id="inputCemail" class="form-control input-lg" placeholder="Company E-mail" required="">
  <div class="notice" style="display:none">Enter your Company E-mail</div>
  <label for="inputWebsite" class="sr-only">Website (optional)</label>
  <input type="text" id="inputWebsite" class="form-control input-lg" placeholder="Website (optional)" required="">
  <label for="inputFax" class="sr-only">Fax (optional)</label>
  <input type="text" id="inputFax" class="form-control input-lg" placeholder="Fax (optional)" required="">
  <div class="text-center signup-btn">
    <button type="button" class="btn btn-default btn-lg" (click)="goPreviousPage()">Back</button>
    <button type="button" class="btn btn-primary btn-lg" (click)="goNextPage()">Next</button>
  </div>
</div>
{{_companyInfoForm.value | json}}
{{_companyInfoForm.status | json}}

