<h3 class="pdb_20">We need to do your ICCRC number or 변호사번호 check</h3>
<p class="pdb_30">
  Only licenced immigration consultants can be use the Toy System. You’ll need to provide your ICCRC number or 변호사번호 before you get a head start by doing it now.
  <a href="#">Learn more</a>
</p>
<div class="verifying-name">Your Name : <span>Sunmi Park</span></div>
<label for="inputIccrc" class="sr-only">ICCRC Number</label>
<input type="email" id="inputIccrc" class="form-control input-lg" placeholder="ICCRC Number" required="">
<p class="pdb_10 text-center">or</p>
<label for="input " class="sr-only">변호사번호</label>
<input type="email" id="input " class="form-control input-lg" placeholder="변호사번호" required="">
<div class="text-center signup-btn">
  <button type="button" class="btn btn-default btn-lg" (click)="goPreviousPage()">Back</button>
  <button type="button" class="btn btn-primary btn-lg" (click)="goNextPage()">Submit</button>
</div>
