<footer class="footer">
  <div class="row">
    <div class="col-md-6 copy">
      Copyright &#169; 2017 COIMS. All rights reserved.
    </div>
    <div class="col-md-6 link">
      <div class="row">
        <ul class="col-md-6">
          <li>
            <a href="#">Terms of Service</a>
          </li>
          <li>
            <a href="#">Payments Terms of Service</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <div class="col-md-6 logo">
          <a href="#"><img src="{{_config.coimsLogoGrayUrl}}" alt="png"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
