<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="./log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative %d{HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_REST_SERVER_EXCEPTION" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_HOME}/rest-server-exception.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-4relative %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <!-- 파일을 덮어쓰는 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}/rest-server-exception-%i.gz</FileNamePattern>

            <maxFileSize>10MB</maxFileSize>
            <!-- 10 일 -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE_REST_WEB_EXCEPTION" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_HOME}/rest-web-exception.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-4relative %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <!-- 파일을 덮어쓰는 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}/rest-web-exception-%i.gz</FileNamePattern>

            <maxFileSize>10MB</maxFileSize>
            <!-- 10 일 -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="REST_SERVER_EXCEPTION" level="debug">
        <appender-ref ref="FILE_REST_SERVER_EXCEPTION"/>
    </logger>

    <logger name="REST_WEB_EXCEPTION" level="debug">
        <appender-ref ref="FILE_REST_WEB_EXCEPTION"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
