<div class="modal fade bs-example-modal-sm" id="caseStatus" tabindex="-1" role="dialog" aria-labelledby="caseStatus">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Status Timeline</h4>
      </div>
      <div class="modal-body">
        <ul class="modal-case-status">
          <li [ngClass]="{ 'active': checkActive( caseStatus), 'on': checkOn( caseStatus)}" *ngFor="let caseStatus of caseStatusList">
            <span class="point"></span>
            <p class="txt-status">{{caseStatus.getName()}}<span class="txt-date" *ngIf="getPassedDate( caseStatus.getId()).length > 0">{{ getPassedDate( caseStatus.getId())}}</span></p>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
