<div id="wrap">
  <div class="container">
    <div class="form-login">
      <div class="header">
        <h2><img [src]="_config.coimsLogoUrl" alt=""></h2>
        <h4>Online Immigration Management System</h4>
      </div>
      <form name="form">
        <div class="info" [formGroup]="_loginForm">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control input-lg" formControlName="email" placeholder="Email address" required="" autofocus="" name="email">
          <div class="notice" style="display:none">Enter your E-mail</div>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control input-lg" formControlName="password" placeholder="Password" required="" name="password">
          <!-- TODO 에러메시지 스타일 강제 부분 수정 요청-->
          <div class="notice" style="height: 20px;">{{_errorMessage}}</div>
          <div class="row">
            <div class="modal fade center" id="myModal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Forgot password?</h3>
                  </div>
                  <div class="modal-body">
                    <p class="pdb_20">Enter the email address associated with your account.<br> We’ll email you instructions on how to log in.</p>
                    <label for="inputForgotId" class="sr-only">ID (E-mail)</label>
                    <input type="text" id="inputForgotId" class="form-control input-lg" placeholder="ID (E-mail)" required="" autofocus="">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg">Send</button>
                    <div class="pdt_10">
                      <a href="#">Forgot your ID?</a>
                    </div>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div>
          <button class="btn btn-primary btn-block btn-lg" [ngClass]="{ 'disabled': checkAllConditionPassed()}" (click)="login()" type="submit">Log in</button>
          <a class="btn btn-default btn-block btn-lg" [ngClass]="{ 'disabled': _signupButtonDisable}" [routerLink]="['/signup/step1']">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>
