<table class="table table-bordered information">
  <caption>Information</caption>
  <colgroup>
    <col width="30%">
    <col width="">
  </colgroup>
  <tr>
    <th>First Name</th>
    <td>{{_applicant.getFName()}}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{_applicant.getLName()}}</td>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <td>{{_birthDate}}</td>
  </tr>
  <tr>
    <th>Phone</th>
    <td>{{_applicant.getPhoneNo()}}</td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td>{{_applicant.getEmail()}}</td>
  </tr>
  <tr>
    <th>Case Type</th>
    <td>{{_caseTypeCode}}</td>
  </tr>
</table>
